#app {
  display: grid;
  place-content: center;
  height: 100vh;
}
/* ----------------------------------------- */

/*ChessBoard Styling*/

#chessboard {
  display: flex;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);

  width: 800px;
  height: 800px;
}

#chessboard .tile {
  width: 100px;
  height: 100px;
}

#chessboard .white-tile {
  background-color: white;
}

#chessboard .green-tile {
  background-color: #779556;
}
