#app {
  display: grid;
  place-content: center;
  height: 100vh;
}
/* ------------------------------------------ */

/*ChessBoard Styling*/

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  background-color: #779556;
  width: 800px;
  height: 800px;
  border: 5px solid black;
}

.tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

.tile img {
  width: 70px;
}

.white-tile {
  background-color: white;
}

.green-tile {
  background-color: #779556;
}
